<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godly Bars</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/kanye.css">
</head>

<body id="drake">
    <div class="container">
        <div class="header">
            <div class="info">
                <h1>Godly Bars | Kanye</h1>
                A modern day webapp that generates lyrics specific to Rapper's style. Don't believe it? Here's what we
                did to achieve this - <br>
                We have made a word based LSTM text prediction model with very limited data of 70 songs of EMINEM &
                Drake. <br>
                <b>Work to be done - </b> we are currently collecting data to train our model in a better way to bring
                much better raps in the near future.
                We aim to support more artists in the future.
            </div>

            <div class="videoBox">
                <iframe width="300" height="168" src="https://www.youtube.com/embed/ay6fqswWlMU" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3>Demo Video for Usage</h3>
            </div>
        </div>

        <div class="description">
            <p class="about-text">
                <b>Kanye Omari West</b> is an American rapper, record producer, and fashion
                designer. He has been influential in the 21st-century development of mainstream hip hop and popular
                music in general.
            </p>
            <div class="text-instruction">
                <h2>Instructions</h2>
                <ul>
                    <li>
                        Hey there, these are a bunch of steps you must perform to make this work.
                    </li>
                    <li>
                        Type in the starting letters of your next rap.
                    </li>
                    <li>
                        Make sure, you enter only 3-4 words.
                    </li>
                    <li>
                        Go through our video tutorial to clear things.
                    </li>
                    <li>
                        Do the required steps and wait for the magic to happen.
                    </li>
                </ul>
            </div>
            <div class="video-con">
                <iframe width="300" height="168" src="https://www.youtube.com/embed/ay6fqswWlMU" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3>Demo Video for Usage</h3>
            </div>

        </div>
        <div class="prediction">
            <div class="suggestion">
                <h3>Suggested phrases <br> for best results.</h3>
                <ul>
                    <li>
                        I Matrix I took blue
                    </li>
                    <li>
                        I'm it
                    </li>
                    <li>
                        I say da fuckin
                    </li>
                    <li>
                        This get confused
                    </li>
                    <li>
                        And I might like minute
                    </li>
                </ul>
            </div>
            <div class="inputArea" style="text-align: center;">
                <input class="inputField" type="text" id="text-input" placeholder="Enter between 3 to 6 words."><br>
                <button class="predictBtn" type="submit" id="submit-button">Submit Text</button>
            </div>
            <p class="output-text" id="output-text">
                <strong>Bars will be generated here:</strong><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur error officia quasi,
                totam ipsam mollitia ullam, esse natus vero vel voluptatibus et laboriosam culpa debitis, quibusdam
                optio
                tempore expedita doloremque.
            </p>
            <select id='voiceList' style="display: none;"></select>
        </div>
    </div>
    <div class="more">
        <a href="{{ url_for('eminem') }}"
            style="-webkit-tap-highlight-color: transparent; text-decoration: none !important; outline: none !important;">
            <div id="eminem" style="text-align: center;">
                <img src="/static/images/eminem.jpg" style="height: 20vh; width: 20vh;">
                <h5>Want to try Eminem?</h5>
            </div>
        </a>
        <a href="{{ url_for('drake') }}"
            style="-webkit-tap-highlight-color: transparent; text-decoration: none !important; outline: none !important;">
            <div id="eminem" style="text-align: center;">
                <img src="/static/images/drake.jpg" style="height: 20vh; width: 20vh;">
                <h5>Want to try Drake?</h5>
            </div>
        </a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="../static/js/index.js"></script>
</body>

</html>